$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99e2d0;
$background: #F6F6F6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}

a:visited, a:link, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    // background-color: $background;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 63px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 3;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        a img {
            width: 162px;
            height: auto;
        }
    }

    // .back{
    //     height: 30px;
    //     width: 30px;
    //     translate: -30px 0;
    // }
    .restaurant-page{
        position: relative;
        flex-direction: row;
        justify-content: center;
        gap: 42px;
        // a img {
        //     translate: -30px 0;
        //     position: absolute;

        // }
        .back {
            position: absolute;
            left: 30px;
            font-size: 18px;
        }
    }

    .location {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EAEAEA;
        gap: 17px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        color: #353535;
        z-index: 2;
        i {
           width: 12px;
           height: 16px;
        }
        p {
            font-weight: 500;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        // justify-content: center;
        align-items: center;
        // height: 287px;
        text-align: center;
        padding-bottom: 65px;
        background-color: $background;
        // padding: 40px 42px 60px 42px;
        .title{
            font-size: 24px;
            font-weight: bold;
            width: 75%;
            padding-top: 40px;
            padding-bottom: 10px;
        }
        .hero-text{
            font-size: 18px;
            font-weight: 300;
            padding-bottom: 40px;
        }
    }

    .steps-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 20px 68px 20px;
        background-color: #FFFFFF;

        .fonctionnement-container {
            width: 100%;
            max-width: 1080px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    
        .title {
            font-size: 24px;
            font-weight: 700;
        }
    
        .steps-cards-container {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding-top: 25px;
            padding: 12px;
    
            .steps-cards {
                width: 100%;
                max-width: 335px;
                height: 72px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: $background;
                border-radius: 20px;
                padding-left: 34px;
                gap: 22px;
                position: relative;
                font-size: 16px;
                font-weight: 500;
                box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15) ;
    
                span {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 50%;
                    position: absolute;
                    left: -12px;
                    color: #FFFFFF;
                }
    
                i {
                    color: #7e7e7e;
                }
                &:last-child { //last card
                    i {
                        color: $primary;
                    }
                }

            }
        }
    }

    .restaurants-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 65px 17px;
        gap: 18px;
        background-color: $background;

        .restaurants-container {
            width: 100%;
            max-width: 1080px;
        }
        
        .section-title {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 18px;
        }

        .restaurants {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1080px;
            gap: 18px;
        }

        .restaurant-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 251px;
            background-color: #FFFFFF;
            position: relative;
            border-radius: 15px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);

            .nouveau{
                position: absolute;
                width: 80px;
                height: 29px;
                top: 15px;
                right: 15px;
                background-color: $tertiary;
                color: #008766;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
            }
            img {
                width: 100%;
                height: 175px;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .restaurant-info {
                background-color: #FFFFFF;
                width: 100%;
                height: 77px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                
                .restaurant-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    h4 { 
                        font-size: 18px;
                        font-weight: 700;
                    }
                    h5 {
                        font-size: 17px;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .like:hover .fa-regular{
        // opacity: 0;
        font-size: 0;
        transition: 0.3s;
        // transition-delay: 0.3s;
    }
    .like:hover .fa-solid{
        // opacity: 1;
        font-size: 22px;
        transition: 0.3s;
        transition-delay: 0.3s;
    }
    .like {
        z-index: 2;
        position: relative;
        cursor: pointer;
        width: 22px;
        height: 22px;
    }
    .like .fa-heart{
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%, -50%);
    }
    .like .fa-regular {
        opacity: 1;
        transition: 0.3s;
        font-size: 22px;
    }
    .like .fa-solid{
        font-size: 0;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        background-clip: text;
        -webkit-background-clip: text; //Clip Text
        -webkit-text-fill-color: transparent; //Transparent Text to shox gradient
        transition: 0.3s;
    }
    .btn {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        border: none;
        outline: none;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease;
    }

    .btn:hover {
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%), rgba(255, 255, 255, 0.15);
        background-blend-mode: overlay;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);

    }

    .restaurant-photo {
        height: 275px;
        width: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .menu {
        width: 100%;
        max-width: 1055px;
        padding: 32px 17px 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        align-items:  center;
        margin-top: -32px;
        background-color: $background;

        .restaurant-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-family: 'Shrikhand';
                font-size: 28px;
                margin-right: 40px;
            }
        }

        .menu-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 12px;
            width: 100%;
            max-width: 634px;

            h2 {
                font-weight: 300;
                text-transform: uppercase;
                position: relative;
                font-size: 16px;
                margin-bottom: 12px;
            }

            h2:after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 40px;
                height: 3px;
                background-color: $tertiary;
            }

            .dishes-list {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                
                .dish {
                    display: flex;
                    flex-direction: row;
                    background-color: #FFFFFF;
                    border-radius: 15px;
                    // justify-content: space-between;
                    // align-items: center;
                    // height: 69px;
                    // padding: 0 15px;
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;

                    .dish-toggle {
                        display: none;
                    }

                    .dish-label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 69px;
                        padding: 0 15px;
                        width: 100%; //pour permetre de cliquer toute la carte
                    }

                    .dish-text {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        height: 100%;
                        justify-content: center;
                        // width: fit-content;
                        max-width: 280px;


                        h3 {
                            font-size: 18px;
                            font-weight: 500;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        h4 {
                            font-size: 15px;
                            font-weight: 300;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .prix {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        gap: 15px;
                        padding: 0 5px;
                        position: absolute;
                        top: 0;
                        right: 15px;
                        translate: 79px 0;
                        transition: 0.3s ease;
                        // translate: 20px 0;

                        p {
                            font-size: 15px;
                            font-weight: 700;
                            padding-bottom: 15px;
                        } 
                        .select {
                            height: 69px;
                            width: 59px;
                            background-color: $tertiary;
                            border-top-right-radius: 15px;
                            border-bottom-right-radius: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // translate: 76px;
                            // translate: 0px 0;
    
                            i {
                                font-size: 20px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
                .dish-toggle:checked ~ .dish-label .prix {
                    transform: translateX(-59px);
                }

                .dish-toggle:checked ~ .dish-label .dish-text {
                    max-width: 220px;
                }
            }
        }
    }


    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        animation: fadeOut 0.5s forwards 2.5s; 
        padding: 300px 5%;
      
        .loader-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
        //   border: 1px solid red;
          -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
      
          svg {
            stroke: #000;
            width: 150px;
            height: 150px;
            transition: all 0.3s ease;
          }
      
          .loader-title {
            span {
              color: #FFFFFF;
              font-family: 'Shrikhand';
              font-size: 48px;
              animation: fadeIn 1s linear forwards;
              transition: all 0.3s ease;
            }
          }
        }
      }
      
      .animated-path {
        stroke-width: 2;
        fill: none;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        animation: draw 1s linear forwards, fill 750ms ease-in forwards 1s;
      }
      
      @keyframes draw {
        to {
          stroke-dashoffset: 0;
        }
      }
      
      @keyframes fill {
        from {
          fill: transparent;
        }
        to {
          fill: #FFFFFF;
        }
      }

      @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
      }
      
      @keyframes fadeOut {
        0% { opacity: 1; }
        // 50% { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
      }
      
      



    // .loader {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, 1);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     z-index: 9999;
    //     animation: fadeOut 1s forwards 2.5s;
    //     padding: 300px;

    //     .loader-container{
    //         width: 100%;
    //         height: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: space-evenly;
    //         border: 1px solid red;

    //         svg{
    //             stroke:  $tertiary;
    //         }

    //         .loader-title span{
    //             color: $primary;
    //             font-family: 'Shrikhand';
    //             font-size: 48px;
                
    //         }
    //     }
    //   }
      
    //   .animated-path {
    //     // stroke: #ffffff;
    //     stroke-width: 2;
    //     fill: none;
    //     stroke-dasharray: 2000;
    //     stroke-dashoffset: 2000;
    //     animation: draw 1.5s linear forwards, fill 1s ease-in forwards 1s;
    //   }
      
    //   @keyframes draw {
    //     to {
    //       stroke-dashoffset: 0;
    //     }
    //   }
      
    //   @keyframes fill {
    //     from {
    //       fill: transparent;
    //     }
    //     to {
    //       fill: #7e7e7e;
    //     }
    //   }
      
      
    //   .loader::after {
    //     content: "";
    //     width: 50px;
    //     height: 50px;
    //     border: 5px solid #f3f3f3;
    //     border-top: 5px solid #3498db;
    //     border-radius: 50%;
    //     animation: spin 1s linear infinite;
    //   }
      
    //   @keyframes spin {
    //     0% { transform: rotate(0deg); }
    //     100% { transform: rotate(360deg); }
    //   }
      
      
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: #FFFFFF;
    padding: 22px;
    gap: 22px;
    h2 {
        font-family: 'Shrikhand';
        font-size: 18px;
        font-weight: 400;
        width: 139px;
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 16px;
        gap: 7px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            i {
                font-size: 12px;
                width: 19px;
            }
        }
    }
}

@media (min-width: 768px) {
    
    header .logo{
        height: 96px;
    }
    main {

    .loader .loader-container {
        svg{
         width: 200px;
         height: 200px;
       }
       .loader-title span {
        font-size: 64px;
       }
    }
    
    .steps-container .steps-cards-container{
        flex-direction: row;
        justify-content: center;
    }

    .restaurant-photo {
        height: 315px;
    }

    .restaurants-section .section-title {
        margin-bottom: 28px;
    }

    .steps-container .fonctionnement-container {
        align-items: normal;
    }

}

    footer {
        flex-direction: row-reverse;
        align-items: center;
        padding: 15px;

        .footer-info {
            flex-direction: row;
        }
    }
}


@media (min-width: 1024px) {

    main {
        .loader .loader-container {
            svg{
            width: 250px;
            height: 250px;
        }
        .loader-title span {
            font-size: 72px;
        }
        }

        .restaurants-section{
            align-items: center;

            .section-title {
                align-self: flex-start;
            }

            .restaurants {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 100px;
                grid-row-gap:50px;
            }

        } 
        
        main .restaurant-photo {
            height: 383px;
        }
        main .steps-container {
            align-items: center;
        }

        footer .footer-info > * {
            width: 130px;
        }

        .footer-info > *:nth-child(1),
        .footer-info > *:nth-child(2) {
            width: 190px;
        }
    }
}