* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  height: 63px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 3;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}
header .logo a img {
  width: 162px;
  height: auto;
}
header .restaurant-page {
  position: relative;
  flex-direction: row;
  justify-content: center;
  gap: 42px;
}
header .restaurant-page .back {
  position: absolute;
  left: 30px;
  font-size: 18px;
}
header .location {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #353535;
  z-index: 2;
}
header .location i {
  width: 12px;
  height: 16px;
}
header .location p {
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hero-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding-bottom: 65px;
  background-color: #F6F6F6;
}
main .hero-info .title {
  font-size: 24px;
  font-weight: bold;
  width: 75%;
  padding-top: 40px;
  padding-bottom: 10px;
}
main .hero-info .hero-text {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 40px;
}
main .steps-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 68px 20px;
  background-color: #FFFFFF;
}
main .steps-container .fonctionnement-container {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .steps-container .title {
  font-size: 24px;
  font-weight: 700;
}
main .steps-container .steps-cards-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;
  padding: 12px;
}
main .steps-container .steps-cards-container .steps-cards {
  width: 100%;
  max-width: 335px;
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding-left: 34px;
  gap: 22px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
main .steps-container .steps-cards-container .steps-cards span {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  color: #FFFFFF;
}
main .steps-container .steps-cards-container .steps-cards i {
  color: #7e7e7e;
}
main .steps-container .steps-cards-container .steps-cards:last-child i {
  color: #9356DC;
}
main .restaurants-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 65px 17px;
  gap: 18px;
  background-color: #F6F6F6;
}
main .restaurants-section .restaurants-container {
  width: 100%;
  max-width: 1080px;
}
main .restaurants-section .section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}
main .restaurants-section .restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  gap: 18px;
}
main .restaurants-section .restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 251px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
main .restaurants-section .restaurant-card .nouveau {
  position: absolute;
  width: 80px;
  height: 29px;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
main .restaurants-section .restaurant-card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main .restaurants-section .restaurant-card .restaurant-info {
  background-color: #FFFFFF;
  width: 100%;
  height: 77px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
main .restaurants-section .restaurant-card .restaurant-info .restaurant-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .restaurants-section .restaurant-card .restaurant-info .restaurant-text h4 {
  font-size: 18px;
  font-weight: 700;
}
main .restaurants-section .restaurant-card .restaurant-info .restaurant-text h5 {
  font-size: 17px;
  font-weight: 300;
}
main .like:hover .fa-regular {
  font-size: 0;
  transition: 0.3s;
}
main .like:hover .fa-solid {
  font-size: 22px;
  transition: 0.3s;
  transition-delay: 0.3s;
}
main .like {
  z-index: 2;
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
}
main .like .fa-heart {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
main .like .fa-regular {
  opacity: 1;
  transition: 0.3s;
  font-size: 22px;
}
main .like .fa-solid {
  font-size: 0;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}
main .btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}
main .btn:hover {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%), rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}
main .restaurant-photo {
  height: 275px;
  width: 100%;
}
main .restaurant-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .menu {
  width: 100%;
  max-width: 1055px;
  padding: 32px 17px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  align-items: center;
  margin-top: -32px;
  background-color: #F6F6F6;
}
main .menu .restaurant-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .menu .restaurant-title h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  margin-right: 40px;
}
main .menu .menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  max-width: 634px;
}
main .menu .menu-list h2 {
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  margin-bottom: 12px;
}
main .menu .menu-list h2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
main .menu .menu-list .dishes-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
main .menu .menu-list .dishes-list .dish {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
main .menu .menu-list .dishes-list .dish .dish-toggle {
  display: none;
}
main .menu .menu-list .dishes-list .dish .dish-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 0 15px;
  width: 100%;
}
main .menu .menu-list .dishes-list .dish .dish-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  justify-content: center;
  max-width: 280px;
}
main .menu .menu-list .dishes-list .dish .dish-text h3 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu .menu-list .dishes-list .dish .dish-text h4 {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .menu .menu-list .dishes-list .dish .prix {
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 15px;
  translate: 79px 0;
  transition: 0.3s ease;
}
main .menu .menu-list .dishes-list .dish .prix p {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 15px;
}
main .menu .menu-list .dishes-list .dish .prix .select {
  height: 69px;
  width: 59px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menu .menu-list .dishes-list .dish .prix .select i {
  font-size: 20px;
  color: #FFFFFF;
}
main .menu .menu-list .dishes-list .dish-toggle:checked ~ .dish-label .prix {
  transform: translateX(-59px);
}
main .menu .menu-list .dishes-list .dish-toggle:checked ~ .dish-label .dish-text {
  max-width: 220px;
}
main .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s forwards 2.5s;
  padding: 300px 5%;
}
main .loader .loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
main .loader .loader-container svg {
  stroke: #000;
  width: 150px;
  height: 150px;
  transition: all 0.3s ease;
}
main .loader .loader-container .loader-title span {
  color: #FFFFFF;
  font-family: "Shrikhand";
  font-size: 48px;
  animation: fadeIn 1s linear forwards;
  transition: all 0.3s ease;
}
main .animated-path {
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 1s linear forwards, fill 750ms ease-in forwards 1s;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #FFFFFF;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #FFFFFF;
  padding: 22px;
  gap: 22px;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  width: 139px;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 16px;
  gap: 7px;
}
footer .footer-info div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
footer .footer-info div i {
  font-size: 12px;
  width: 19px;
}

@media (min-width: 768px) {
  header .logo {
    height: 96px;
  }
  main .loader .loader-container svg {
    width: 200px;
    height: 200px;
  }
  main .loader .loader-container .loader-title span {
    font-size: 64px;
  }
  main .steps-container .steps-cards-container {
    flex-direction: row;
    justify-content: center;
  }
  main .restaurant-photo {
    height: 315px;
  }
  main .restaurants-section .section-title {
    margin-bottom: 28px;
  }
  main .steps-container .fonctionnement-container {
    align-items: normal;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 15px;
  }
  footer .footer-info {
    flex-direction: row;
    gap: 7px;
  }
  footer .footer-info > * {
    width: 130px;
  }
  footer .footer-info > *:nth-child(1),
  footer .footer-info > *:nth-child(2) {
    width: 190px;
  }
}
@media (min-width: 1024px) {
  main .loader .loader-container svg {
    width: 250px;
    height: 250px;
  }
  main .loader .loader-container .loader-title span {
    font-size: 72px;
  }
  main .restaurants-section {
    align-items: center;
  }
  main .restaurants-section .section-title {
    align-self: flex-start;
  }
  main .restaurants-section .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
  main main .restaurant-photo {
    height: 383px;
  }
  main main .steps-container {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */